# üìñ Lendo o arquivo csv

In [89]:
import pandas as pd

DELITOS_BAHIA_DATA_PATH = '05_OUTROS_DELITOS_ESTADO_2022.csv'

seguranca_publica_baiana_df = pd.read_csv(DELITOS_BAHIA_DATA_PATH)

#testando o dataframe
seguranca_publica_baiana_df

,Unnamed: 0,Unnamed: 1,SECRETARIA DA SEGURAN√áA P√öBLICA DO ESTADO DA BAHIA,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,PRINCIPAIS DELITOS\nBAHIA\nPER√çODO: 1/1/2022 A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Qtd de Ocorr√™ncias,NaN,NaN,NaN,NaN,Qtd de Pessoas,NaN
2,NaN,NaN,NaN,ROUBO A,ROUBO A,NaN,NaN,NaN,USO/PORTE,NaN,NaN,NaN
3,NaN,NaN,FURTO,ESTABELECIMENTO,ONIBUS,ROUBO A,ROUBO A,ROUBO,SUBSTANCIA,ROUBO,NaN,TENTATIVA
4,ID,MUNIC√çPIO,DE,NaN,NaN,NaN,NaN,NaN,NaN,DE,ESTUPRO,DE
...,...,...,...,...,...,...,...,...,...,...,...,...
551,NaN,Total Geral,6.802,2.328,1.069,1.136,51.395,329,3.056,13.292,4.284,2.290
552,Fonte: SSP-BA (Elaborado por SIAP/DAO),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,Gerado em 1/6/2023 √†s 16h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,Estupro = Estupro + Estupro de vulner√°vel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,NaN,NaN,NaN,NaN,NaN,NaN,15/15,NaN,NaN,NaN,NaN,NaN

# üßπ Limpeza dos dados

In [90]:
#excluir primeiras linhas e deixar uma para cabe√ßalho que ser√° substituido por outras colunas 
seguranca_publica_baiana_df = pd.read_csv(DELITOS_BAHIA_DATA_PATH, skiprows=[0, 1, 2, 3, 4, 5, 6, 7])

seguranca_publica_baiana_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,/SERVI√áOS,RODOVIA),Unnamed: 5,Unnamed: 6,Unnamed: 7,(USU√ÅRIOS),Unnamed: 9,Unnamed: 10,Unnamed: 11
0,290010,Aba√≠ra,1,0,0,0,3,0,1,1,1,2
1,290020,Abar√©,8,0,0,0,4,1,2,7,5,7
2,290030,Acajutiba,1,0,0,0,13,0,0,1,3,2
3,290035,Adustina,3,0,0,0,5,0,2,4,0,1
4,290040,√Ågua Fria,1,0,0,0,5,0,2,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
543,NaN,Total Geral,6.802,2.328,1.069,1.136,51.395,329,3.056,13.292,4.284,2.290
544,Fonte: SSP-BA (Elaborado por SIAP/DAO),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,Gerado em 1/6/2023 √†s 16h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,Estupro = Estupro + Estupro de vulner√°vel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,NaN,NaN,NaN,NaN,NaN,NaN,15/15,NaN,NaN,NaN,NaN,NaN

In [91]:
#Nomear as colunas de acordo a cada informa√ßao disponivel 
seguranca_publica_baiana_df.columns = ['ID', 'Munic√≠pio', 'Furto de veiculo', 'Roubo a estabelecimento comercial/servi√ßos', 'Roubo a onibus (urbano e em rodovia)', 'Roubo a residencia', 'Roubo a transeunte', 'Roubo de carga', 'Uso/porte substancia entorpecente (usu√°rios)', 'Roubo de veiculo', 'Estupro', 'Tentativa de Homic√≠dio']

seguranca_publica_baiana_df

,ID,Munic√≠pio,Furto de veiculo,Roubo a estabelecimento comercial/servi√ßos,Roubo a onibus (urbano e em rodovia),Roubo a residencia,Roubo a transeunte,Roubo de carga,Uso/porte substancia entorpecente (usu√°rios),Roubo de veiculo,Estupro,Tentativa de Homic√≠dio
0,290010,Aba√≠ra,1,0,0,0,3,0,1,1,1,2
1,290020,Abar√©,8,0,0,0,4,1,2,7,5,7
2,290030,Acajutiba,1,0,0,0,13,0,0,1,3,2
3,290035,Adustina,3,0,0,0,5,0,2,4,0,1
4,290040,√Ågua Fria,1,0,0,0,5,0,2,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
543,NaN,Total Geral,6.802,2.328,1.069,1.136,51.395,329,3.056,13.292,4.284,2.290
544,Fonte: SSP-BA (Elaborado por SIAP/DAO),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,Gerado em 1/6/2023 √†s 16h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,Estupro = Estupro + Estupro de vulner√°vel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,NaN,NaN,NaN,NaN,NaN,NaN,15/15,NaN,NaN,NaN,NaN,NaN

In [92]:
#analisar a coluna "ID" e deletar as linhas que nao possuem numeros 
valores_numericos = pd.to_numeric(seguranca_publica_baiana_df['ID'], errors = 'coerce').notnull()

seguranca_publica_baiana_df = seguranca_publica_baiana_df[valores_numericos]

seguranca_publica_baiana_df

,ID,Munic√≠pio,Furto de veiculo,Roubo a estabelecimento comercial/servi√ßos,Roubo a onibus (urbano e em rodovia),Roubo a residencia,Roubo a transeunte,Roubo de carga,Uso/porte substancia entorpecente (usu√°rios),Roubo de veiculo,Estupro,Tentativa de Homic√≠dio
0,290010,Aba√≠ra,1,0,0,0,3,0,1,1,1,2
1,290020,Abar√©,8,0,0,0,4,1,2,7,5,7
2,290030,Acajutiba,1,0,0,0,13,0,0,1,3,2
3,290035,Adustina,3,0,0,0,5,0,2,4,0,1
4,290040,√Ågua Fria,1,0,0,0,5,0,2,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
529,293330,Vit√≥ria Da Conquista,358,24,2,34,835,8,117,168,122,59
539,293340,Wagner,2,0,0,0,4,0,0,0,2,1
540,293345,Wanderley,2,0,0,0,2,0,0,3,7,2
541,293350,Wenceslau Guimar√£es,4,0,0,0,19,0,5,12,8,4
542,293360,Xique-Xique,9,0,0,0,67,0,4,1,12,14

# üîç An√°lise explorat√≥ria

## üëì Vis√£o geral dos dados

In [93]:
#verificar se h√° municipios repetidos 
municipio_repetido = seguranca_publica_baiana_df['Munic√≠pio'].duplicated().any()

if municipio_repetido:
  print("H√° munic√≠pios repetidos.")
else:
    print("N√£o h√° munic√≠pios repetidos.")

N√£o h√° munic√≠pios repetidos.

In [94]:
#verificar se o tamanho condiz com a quantidade de municipios do estado baiano
seguranca_publica_baiana_df.shape

(417, 12)

In [95]:
#tipo da informa√ß√£o de cada coluna
seguranca_publica_baiana_df.dtypes

ID                                              object
Munic√≠pio                                       object
Furto de veiculo                                object
Roubo a estabelecimento comercial/servi√ßos      object
Roubo a onibus (urbano e em rodovia)            object
Roubo a residencia                              object
Roubo a transeunte                              object
Roubo de carga                                  object
Uso/porte substancia entorpecente (usu√°rios)    object
Roubo de veiculo                                object
Estupro                                         object
Tentativa de Homic√≠dio                          object
dtype: object

## üìä Estat√≠sticas descritivas